@model VendingMachine

<h1>Vending Machine</h1>

<h4>Deposited Amount: @Model.DepositedAmount</h4>

<div>
    <button class="deposit-button btn-primary" data-amount="1">1 Ruble</button>
    <button class="deposit-button btn-primary" data-amount="2">2 Rubles</button>
    <button class="deposit-button btn-primary" data-amount="5">5 Rubles</button>
    <button class="deposit-button btn-primary" data-amount="10">10 Rubles</button>
</div>

<hr />

<div>
    <button class="get-change-button btn-primary">Get Change</button>
</div>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var drink in Model.Drinks)
        {
            <tr>
                <td>@drink.Name</td>
                <td>@drink.Price</td>
                <td>@drink.Quantity</td>
                <td>
                    <button class="select-drink-button btn-primary" data-id="@drink.Id">Select</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.deposit-button').click(function () {
                var amount = $(this).data('amount');
                $.ajax({
                    type: 'POST',
                    url: '/UserInterface/Deposit',
                    data: { amount: amount },
                    success: function () {
                        location.reload();
                    }
                });
            });

            $('.select-drink-button').click(function () {
                var drinkId = $(this).data('id');
                $.ajax({
                    type: 'POST',
                    url: '/UserInterface/SelectDrink',
                    data: { drinkId: drinkId },
                    success: function (response) {
                        if (response.success) {
                            $('#change-container').html('Change: ' + response.message);
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    }
                });
            });

            $('.get-change-button').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '/UserInterface/GetChange',
                    success: function (response) {
                        $('#change-container').html('Change: ' + response);
                        location.reload();
                    }
                });
            });
        });
    </script>
}